# Ignore the data directory (datasets are stored here)
data/

# Ignore the results directory (results are stored here)
resultados/

# Ignore all logs
*.log

# Ignore the docker-compose files
docker-compose.clients.yml
docker-compose.system.yml